karabiner/automatic_backups
nvim/plugin
# fish/config.fish
lazygit/state.yml
lazygit/temp_lazygit.tar.gz
kitty/.kitty.conf.swo
nvim/old.txt
nvim/.luarc2.json


fish/config.fish.pysave
fish/fish_variables
git/rmit.gitconfig
git/personal.gitconfig

zsh/.zcompdump*
zsh/.zsh_history
